NEXT_PUBLIC_API_URL=https://analytics.robintehofstee.com
INTERNAL_API_URL=http://localhost:3456
NEXTAUTH_SECRET=dlKnmOF8JDU4sR64+nvswrlg8F7qHLOzD0tkmIatr6g=
NEXTAUTH_URL=https://dashboard.robintehofstee.com
AUTH_USERNAME=robin30
AUTH_PASSWORD=robin30
